<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="style/bulma.css" rel="stylesheet"/>
  <link href="style/main.css" rel="stylesheet"/>

  <script defer src="js/vue.js"></script>
  <script defer src="js/axios.js"></script>
  <script defer src="js/index.js"></script>

  <title>Yu-Gi-oH! Find Cards</title>
</head>
<body> 
  <!-- @click="openCard(null)" -->
  <div id="app" class="container has-text-centered p-2">

    <h1 class="is-size-2 p-4">Yu-Gi-oH! Find Cards</h1>
    
    <!-- Actions search -->
    <div class="is-flex">
      <input
        class="input is-rounded is-primary"
        type="text"
        v-model="search"
        v-on:keyup.enter="onCards"
      />

      <button 
        class="button is-rounded ml-2 is-primary"
        @click="onCards"
      >
        Pesquisar
      </button>
    </div>

    <!-- cards -->
    <div v-if="!isLoading && cards.length" class="border-cards mt-4">
      <img
        class="is-clickable zoom m-2"
        width="150"
        v-for="card in cards"
        :key="card.id"
        :alt="card.name"
        :src="card.card_images[0].image_url"
        @click="openCard(card)"
      />
    </div>

    <!-- loading -->
    <template v-if="isLoading">
      <div class="loader-container">
        <div class="card-box">
          <div class="card-header"></div>
          <div class="card-body mt-2"></div>
          <div class="card-desc mt-1"></div>
        </div>
        <div class="card-box">
          <div class="card-header"></div>
          <div class="card-body mt-2"></div>
          <div class="card-desc mt-1"></div>
        </div>
        <div class="card-box">
          <div class="card-header"></div>
          <div class="card-body mt-2"></div>
          <div class="card-desc mt-1"></div>
        </div>
        <div class="card-box">
          <div class="card-header"></div>
          <div class="card-body mt-2"></div>
          <div class="card-desc mt-1"></div>
        </div>
        <div class="card-box">
          <div class="card-header"></div>
          <div class="card-body mt-2"></div>
          <div class="card-desc mt-1"></div>
        </div>
        <div class="card-box">
          <div class="card-header"></div>
          <div class="card-body mt-2"></div>
          <div class="card-desc mt-1"></div>
        </div>
        <div class="card-box">
          <div class="card-header"></div>
          <div class="card-body mt-2"></div>
          <div class="card-desc mt-1"></div>
        </div>
      </div>
      <p class="mt-5">Looking for letters ...</p>
    </template>

    <!-- Modal -->
    <div class="modal is-active is-clipped" v-if="cardSelected" @click="openCard(null)">
      <div class="modal-background"></div>
      <div class="modal-content">
        <img
          class="is-clickable zoom m-2"
          :alt="cardSelected.name"
          :src="cardSelected.card_images[0].image_url"
        />
      </div>
    </div>

  </div>
</body>
</html>