.main-deck{
  height: 550px;
  overflow: auto;
}

.extra-deck, .side-deck {
  height: 225px;
  border: solid 1px black;
}

.border-side{
  border: solid 1px black;
  border-top: none;
  border-bottom: none;
}

.desc-info {
  text-align: left;
  width: auto;
  height: 150px;
  overflow-x: auto;
}

.content-cards-search{
  height: 155px;
  overflow-x: auto;
}

.content-cards{
    min-height: 100px;
}

.content-info{

}

.actions-search {
  width: 100%;
  padding: 0 2rem 1rem 2rem;
}

.content-cards {
  padding: 1rem;
}

.y-card-size {
  width: 5rem;
}

.border-cards {
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
  margin-bottom: 10px;
}

.zoom {
  transition: all .5s ease-in-out;
}

/* ======= loader ======= */
.loader-container {
  left: 45%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.loader-container .card-box {
  width: 60px;
  height: 100px;
  background-color: #c1974f;
  border-radius: 4px;
  position: absolute;
  transform: origin center;
  animation: move 2s ease-out infinite;
  border: solid 1px black;
  padding: 2px;
}

.loader-container .card-box > * {
  border: solid 1px rgb(97, 97, 97);
  border-radius: 4px;
  width: 100%;
  opacity: .2;
  background-color: rgb(121, 121, 121);
}

.loader-container .card-box .card-header {
  height: 15%;
}

.loader-container .card-box .card-body {
  height: 50%;
}

.loader-container .card-box .card-desc {
  height: 25%;
}

.loader-container .card-box:nth-child(1) {
  animation-delay: 0.05s;
}

.loader-container .card-box:nth-child(2) {
  animation-delay: 0.1s;
}

.loader-container .card-box:nth-child(3) {
  animation-delay: 0.15s;
}

.loader-container .card-box:nth-child(4) {
  animation-delay: 0.2s;
}

.loader-container .card-box:nth-child(5) {
  animation-delay: 0.25s;
}

.loader-container .card-box:nth-child(6) {
  animation-delay: 0.3s;
}

.loader-container .card-box:nth-child(1) {
  background-color: #d6aa5c;
  z-index: 6;
}

.loader-container .card-box:nth-child(2) {
  background-color: #1d9f90;
  z-index: 5;
}

.loader-container .card-box:nth-child(3) {
  background-color: #383c43;
  z-index: 4;
}

.loader-container .card-box:nth-child(4) {
  background-color: #894695;
  z-index: 3;
}

.loader-container .card-box:nth-child(5) {
  background-color: #226da6;
  z-index: 2;
}

.loader-container .card-box:nth-child(6) {
  background-color: #d3d5d5;
  z-index: 1;
}

@keyframes move {
  20% {
    transform: translate(80px) rotate(90deg);
  }

  40% {
    transform: translate(-80px) rotate(270deg);
  }

  60% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
